<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 kext-dev-mode=1</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>2</integer>
		<key>Secure</key>
		<false/>
		<key>DefaultVolume</key>
		<string>Yosemite</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<integer>1</integer>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Theme</key>
		<string>bluemac</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Kernel</key>
			<string>All</string>
		</dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
		</array>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Name</key>
			<string>dsdt.aml</string>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<true/>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>ssdt.aml</string>
			<string>ssdt-1.aml</string>
			<string>ssdt-2.aml</string>
			<string>ssdt-3.aml</string>
			<string>ssdt-4.aml</string>
			<string>SSDT-PNLF.aml</string>
		</array>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string> 0x0a260006 9MB cursor bytes (vbo), 2 ports only (RehabMan)</string>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAgIAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0a260006 disable 0204 port, change 0105 DP port to 0204 HDMI (RehabMan)</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAAAgQJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQJAAAIAACHAAAA/wAAAAEAAABAAAAA</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8408ec10</string>
				<key>Replace</key>
				<string>00000000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8508ec10</string>
				<key>Replace</key>
				<string>00000000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8419d411</string>
				<key>Replace</key>
				<string>6806ec10</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA (#4 of 4, new in 10.11, credit lisai9093)</string>
				<key>Find</key>
				<data>gxnUEQ==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x</string>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.12.dp1 (credit denskop)</string>
				<key>Find</key>
				<data>AQAAdSU=</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yU=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3 post wake</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo, 10.12.x (credit the-darkvoid)</string>
				<key>Find</key>
				<data>gflSqgAAdSk=</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>gflSqgAAZpA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11.dp1+ BT4LE-Handoff-Hotspot, credit RehabMan based on Dokterdok original</string>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
		<key>BiosVersion</key>
		<string>MBA61.88Z.0099.B12.1405241030</string>
		<key>BiosReleaseDate</key>
		<string>05/24/14</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>Family</key>
		<string>MacBookAir</string>
		<key>SmUUID</key>
		<string>BB2018A7-7722-48CF-A9E3-09B41CEA66F8</string>
		<key>Board-ID</key>
		<string>Mac-7DF21CB3ED6977E5</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Air-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<integer>10</integer>
		<key>Version</key>
		<string>1.0</string>
		<key>Mobile</key>
		<true/>
	</dict>
</dict>
</plist>
