<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>CPU</key>
	<dict>
		<key>QPI</key>
		<string>100</string>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 kext-dev-mode=1</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>2</integer>
		<key>Secure</key>
		<false/>
		<key>DefaultVolume</key>
		<string>Yosemite</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<integer>1</integer>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Theme</key>
		<string>bluemac</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Kernel</key>
			<string>All</string>
		</dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
		</array>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Name</key>
			<string>dsdt.aml</string>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<true/>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Comment</key>
				<string>0x0a260006 6->9MB cursor bytes patch</string>
				<key>Find</key>
				<string>0600260a01030303000000020000300100006000</string>
				<key>Replace</key>
				<string>0600260a01030303000000020000300100009000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8408ec10</string>
				<key>Replace</key>
				<string>00000000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8508ec10</string>
				<key>Replace</key>
				<string>00000000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8419d411</string>
				<key>Replace</key>
				<string>6806ec10</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>2nd stage boot</string>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Find</key>
				<string>4188C4EB11</string>
				<key>Replace</key>
				<string>4188C4EB31</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3 post wake</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
			</dict>
		</array>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
		<key>BiosVersion</key>
		<string>MBA61.88Z.0099.B12.1405241030</string>
	</dict>
</dict>
</plist>
