<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>Secure</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<integer>1</integer>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Theme</key>
		<string>bluemac</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Kernel</key>
			<string>All</string>
		</dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
		</array>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
			<key>DropOEM_DSM</key>
			<true/>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<false/>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<true/>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8408ec10</string>
				<key>Replace</key>
				<string>00000000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8508ec10</string>
				<key>Replace</key>
				<string>00000000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<string>8419d411</string>
				<key>Replace</key>
				<string>6806ec10</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Comment</key>
				<string>Trim Enabler</string>
				<key>Find</key>
				<data>
				QVBQTEUgU1NE
				</data>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAA
				</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Comment</key>
				<string>Airport - 3rd party card</string>
				<key>Find</key>
				<data>
				MGsQAAB1DQ==
				</data>
				<key>Replace</key>
				<data>
				MGsQAAB0DQ==
				</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Comment</key>
				<string>BCM4352 5GHZ</string>
				<key>Find</key>
				<data>
				AVhU
				</data>
				<key>Replace</key>
				<data>
				AVhY
				</data>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
